- name: Patch all things Pihole related
  hosts: all
  tasks:
    - name: Update OS packages
      apt:
        name: "*"
        state: latest
      notify:
        - reboot_pihole

    - name: Update pihole itself
      command: pihole -up

  handlers:
    - name: reboot_pihole
      command: reboot