- name: Run Updates on Windows Servers and wait 20 mins
  hosts: all
  gather_facts: true

  tasks:
    - name: Apply Win updates
      win_updates:
        category_names:
          - CriticalUpdates
          - DefinitionUpdates
          - SecurityUpdates
          - Updates
        whitelist:
          - KB4022723
        reboot: yes
        reboot_timeout: 1200